doctype html

div(
    [class.card]='!(isListDisplayType$ | async)',
    [class.list-item]='(isListDisplayType$ | async)',
    (click)='onVideoClick()'
)
    .preview
        img([src]='videoItem.preview')
        .duration {{ videoItem.duration | dateFormat:'HH:mm:ss' }}
    .info
        .name {{ videoItem.name }}
        .description 
            p {{ videoItem.description }}
    .stats
        .likes {{ videoItem.likes }}
        .views {{ videoItem.views }}