doctype html

.video(
    (click)='onVideoClick()'
)
    .video-preview
        img([src]='videoItem.preview')
        .video-preview_duration {{ videoItem.duration | dateFormat:'HH:mm:ss' }}
    .video-info
        .video-info_name {{ videoItem.name }}
        .video-info_description 
            p {{ videoItem.description }}
    .video-stats
        .video-stats_likes {{ videoItem.likes }}
        .video-stats_views {{ videoItem.views }}