@import url('https://weloveiconfonts.com/api/?family=fontawesome')
@import '../../../../../common/colors.styl'

border()
    border-radius 4px
    border 1px solid gray
    box-shadow 0 2px 4px -1px rgba(0, 0, 0, 0.25)

.video
    height 15em
    width 17vw
    margin 5px 15px
    padding 5px

    display flex
    flex-direction column
    border()
    cursor pointer
    user-select none
    &:hover
        box-shadow 0 0 0.5em -2px color-blue-sea-softlight
        border-color color-blue-sea-wave-light
        & > * > .video-info_name
            color color-blue-soft
    &-preview
        height 50%
        & > img
            height 100%
            width 100%
        &_duration
            background-color color-green-wood-dark
            color white
            opacity 0.7

            font-size 0.8em
            display inline
            position relative
            top -1.8em
            left -0.5em
            float right
    &-info
        height 40%
        padding 3px
        display flex
        flex-direction column
        &_name
            text-align left
        &_description
            font-size 0.7em
            color gray
            
            width 100%
            overflow hidden
            text-align justify

            display -webkit-box
            -webkit-line-clamp 3
            /* autoprefixer: off */
            -webkit-box-orient vertical
            & p
                margin 0
    &-stats
        height 10%
        margin 1em 2em
        display flex
        justify-content space-between

        font-size 0.7em
        &_likes:before
            content '\f087'
            font-family fontawesome
        &_views:after
            content '\f06e'
            font-family fontawesome