@import url('https://weloveiconfonts.com/api/?family=fontawesome')
@import '../../../../../common/colors.styl'

border()
    border-radius 4px
    border 1px solid gray
    box-shadow 0 2px 4px -1px rgba(0, 0, 0, 0.25)

.card
    height 15em
    width 17vw
    margin 5px 15px
    padding 5px

    display flex
    flex-direction column
    border()
    cursor pointer
    user-select none
    &:hover
        box-shadow 0 0 0.5em -2px color-blue-sea-softlight
        border-color color-blue-sea-wave-light
        & > * > .info-name
            color color-blue-soft
    & > .preview
        height 50%
        & > img
            height 100%
            width 100%
        & > .duration
            background-color color-green-wood-dark
            color white
            opacity 0.8

            font-size 0.8em
            display inline
            position relative
            top -1.8em
            left -0.5em
            float right
    & > .info
        height 40%
        padding 3px
        display flex
        flex-direction column
        & > .name
            text-align left
        & > .description
            font-size 0.7em
            color gray
            
            width 100%
            overflow hidden
            text-align justify

            display -webkit-box
            -webkit-line-clamp 4
            /* autoprefixer: off */
            -webkit-box-orient vertical
            & p
                margin 0
    & > .stats
        padding 0.5em
        margin-bottom 0.2em
        display flex
        justify-content space-between

        font-size 0.85em
        & > .likes:before
            content '\f087'
            font-family fontawesome
            margin-right 0.3em
        & > .views:after
            content '\f06e'
            font-family fontawesome
            margin-left 0.3em
.list-item
    height 11em
    width 90vw
    margin 5px 0
    padding 5px
    padding-top 0.45em

    display flex
    flex-direction row
    border()
    border-radius 1px
    cursor pointer
    user-select none
    &:hover
        box-shadow 0 0 0.5em -2px color-blue-sea-softlight
        border-color color-blue-sea-wave-light
        & > * > .info-name
            color color-blue-soft
    & > .preview
        & > img
            height 10em
            width auto
        & > .duration
            background-color color-green-wood-dark
            color white
            opacity 0.8

            font-size 0.8em
            display inline
            position relative
            top -1.8em
            left -0.5em
            float right
    & > .info
        padding-left 1em
        display flex
        flex-direction column
        & > .name
            text-align left
            font-size 2em
            text-transform capitalize
        & > .description
            color gray

            width 100%
            overflow hidden
            text-align justify

            display -webkit-box
            -webkit-line-clamp 5
            /* autoprefixer: off */
            -webkit-box-orient vertical
            & p
                margin 0
    & > .stats
        width 5%
        padding 0.5em
        display flex
        justify-content space-around
        flex-direction column-reverse
        & > .likes:before
            content '\f087'
            font-family fontawesome
            margin-right 0.3em
        & > .views:before
            content '\f06e'
            font-family fontawesome
            margin-right 0.3em