.videos-
    &container
        box-shadow 1px -1px solid black
    &filters
        border-radius 4px
        border 2px solid gray
    &list
        display flex
        flex-wrap wrap
        flex-direction row
    // &item