doctype html

h3 video-list

.videos-container
    app-video-filters.videos-filters
    .videos-list-type.offset-bottom-small
        .videos-list-type-list(
            [class.selected]='(isListDisplayType$ | async)',
            (click)="whenTypeChange$.next('list')",
            title='list'
        )
        .videos-list-type-cards(
            [class.selected]='!(isListDisplayType$ | async)',
            (click)="whenTypeChange$.next('cards')",
            title='cards'
        )
    .videos(
        [class.cards]='!(isListDisplayType$ | async)',
        [class.list]='(isListDisplayType$ | async)'
    )
        app-video-item.videos-item(
            *ngFor="let 'video' of (videos$ | async)",
            [video]='video',
            [dispayTypeChange]='this.whenTypeChange$'
        )