@import '../../../common/colors.styl';
@import url('https://fonts.googleapis.com/css?family=Kodchasan:200')
@import url('https://fonts.googleapis.com/css?family=Roboto')

/**
* By default, the placeholder should be transparent. Also, it should 
* inherit the transition.
*/
::-webkit-input-placeholder 
    opacity 0
    transition inherit

::ng-deep body 
    background-color color-white-paint

    background-image url(/static/images/background-login.jpg)
    background-size 100% 100%
    height 100vh
    overflow-y hidden
    position relative
.m-container
    height 80vh
    width 100%
    display flex
    align-items center
    justify-content center
.login
    &-wrap
        background linear-gradient(color-green-swamp, color-green-swamp-dark)
        border-radius 8px
        width 25%
        box-shadow 0 5px 10px rgba(0, 0, 0, 0.09), 0 3px 3px rgba(0, 0, 0, 0.13)        
        display grid
        place-items center
    &-container
        border-radius 8px
        padding 1em

        border-radius 8px
        padding 1em

        height calc(100% - 8px)
        width calc(100% - 8px)
        background-color color-white-paint-gray
        text-align center
    &-header
        font-family Kodchasan, monospace
.m-form
    display flex
    flex-direction column
    &-group
        position relative
        font-size 12px
        &-label
            color color-green-grey
            font-weight normal
            font-family Roboto, monospace
            pointer-events none
            
            position absolute
            left 5px
            top 5px
            
            transition 0.2s ease all
            -moz-transition 0.2s ease all
            -webkit-transition 0.2s ease all
        &-input
            padding 4px 4px
            display block
            width 100%
            height 30px
            background-color transparent
            border none
            border-bottom 1px solid color-green-grey
            &:focus
                outline none
                border-bottom 2px solid color-green-swamp
            &:focus ~ .m-form-group-label, &:not(:placeholder-shown) ~ .m-form-group-label
                top -18px
                font-size 14px
                color color-green-swamp

.m-btn-outline
    border-color color-green-swamp
    color color-green-swamp
    font-family Roboto, monospace
    &:hover, &:not(:disabled):not(.disabled):active
        color color-white-milk
        background-color color-green-swamp
        border-color color-green-swamp
    &:focus, &:not(:disabled):not(.disabled):active:focus
        box-shadow 0 0 0 0.2rem rgba(141, 160, 119, 0.5)