color-gray-asphalt-wet = #B0C4C9
color-gray-asphalt = #DCE3E4

color-white-paint = #F8F7F4
color-white-gray = #EFEFEF
color-white-paint-gray = #EFF2F4
color-white-milk = #FBF6F0
color-white-green = #F0EFEA

color-blue-sea-wave = #79E0E7
color-blue-green-sea-wave-dark = #00A8A8
color-blue-sea-wave-light = #41CEE2
color-blue-sea-wave-light-2 = #45D4DE
color-blue-carribean-sea = #28BDDB
color-blue-prestigie = #2D3440
color-blue-soft = #18A4E0
color-blue-sea = #0253B3
color-blue-sky-darken = #6C98C6
color-blue-sky-light = #98B7D7
color-blue-sea-softlight = #AEE6E6
color-blue-france = #2B92E4

color-red-orange = #EF7239

color-orange-honey = #FFDA77
color-orange-bee = #FFA45B

color-green-swamp = #8DA077
color-green-grey = #BABAAB
color-green-grey-light = #D6D6CD
color-green-wood-dark = #324047
color-green-swamp-dark = #616D52