color-wet-asphalt = #B0C4C9
color-asphalt = #DCE3E4
color-white-paint = #F8F7F4
color-white-gray = #EFEFEF
color-white-paint-gray = #EFF2F4
color-sea-wave = #79E0E7
color-sea-wave-dark = #00A8A8
color-sea-wave-light = #41CEE2
color-sea-wave-light-2 = #45D4DE
color-wood-night-dark = #324047
color-blue-soft = #18A4E0
color-blue-sea = #0253B3