@import url('https://fonts.googleapis.com/css?family=Righteous');
@import './colors.styl';

.disabled
    opacity 0.2

// offsets
.offset-top-small
    margin-top 0.5em
.offset-bottom-small
    margin-bottom 0.5em
.offset-left-small
    margin-left 0.5em
.offset-right-small
    margin-right 0.5em

.offset-top-medium
    margin-top 1.5em
.offset-bottom-medium
    margin-bottom 1.5em
.offset-left-medium
    margin-left 1.5em
.offset-right-medium
    margin-right 1.5em

.offset-top-normal
    margin-top 2em
.offset-bottom-normal
    margin-bottom 2em
.offset-left-normal
    margin-left 2em
.offset-right-normal
    margin-right 2em

.offset-top-big
    margin-top 3.5em
.offset-bottom-big
    margin-bottom 3.5em
.offset-left-big
    margin-left 3.5em
.offset-right-big
    margin-right 3.5em