doctype html

header
    nav.menu
        .menu-item(
            *ngFor="let 'menuItem' of (menuItems$ | async)",
            [class.active]='menuItem.isActive',
            [attr.link]='menuItem.link',
            (click)='onMenuItemClick(menuItem)'
        ) {{ menuItem.name }}