doctype html

.container-fluid.m-container
    .error-wrap
        .error-container
            .error-header
                h1 404
                h2 Page not found
            .error-body.offset-top-small Requested route 
                span {{ route }} 
                |  not found. Probably it has not been developed for now. Or it could be removed due useless.
            .error-footer.offset-top-small Return to site via links to popular areas
                ul.error-links.offset-top-small
                    li.link(*ngFor="let 'link' of links")
                        a([href]='link.href') {{ link.name }}